@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue/HelveticaNeue.eot');
	src: url('fonts/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue/HelveticaNeue.woff2') format('woff2'),
		url('fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
		url('fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype'),
		url('fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue/HelveticaNeue-Medium.eot');
	src: url('fonts/HelveticaNeue/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue/HelveticaNeue-Medium.woff2') format('woff2'),
		url('fonts/HelveticaNeue/HelveticaNeue-Medium.woff') format('woff'),
		url('fonts/HelveticaNeue/HelveticaNeue-Medium.ttf') format('truetype'),
		url('fonts/HelveticaNeue/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue/HelveticaNeue-Bold.eot');
	src: url('fonts/HelveticaNeue/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue/HelveticaNeue-Bold.woff2') format('woff2'),
		url('fonts/HelveticaNeue/HelveticaNeue-Bold.woff') format('woff'),
		url('fonts/HelveticaNeue/HelveticaNeue-Bold.ttf') format('truetype'),
		url('fonts/HelveticaNeue/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
div,
section,
ul,
header{
  box-sizing: border-box;
}
body{
  font-family: Helvetica Neue;
  padding: 0;
  margin: 0;
}
header{
	background-color: #5d5096;
	width: 100%;
	height: 158px;
  display: table;
}

h1{
  margin: 0;
	font-weight: 200;
	font-size: 42px;
}
hr{
  background-color: #dfdfdf;
  height: 2px;
  border: none;
  margin: 0;
}
.logo{
  padding-top: 30px;
  padding-left: 100px;
}
button{
  border-radius: 0;
  background-color: #5d5096;
}
/*-----------Hero component---------------------------------*/
.hero_component{
	font-family: Helvetica Neue;
	color: #5d5096;
	float: left;
  width: 100%;
  height: 741px;
}
.text{
  display: table;
  margin-top: 170px;
  margin-left: 12%;
	width: 660px;
}
.hero_component_title h1{
  font-size: 64px;
	text-align: center;
}
.bold{
  font-weight: 900;
}
.background{
  background-image: url(../images/background.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 95%;
  background-size: auto;
}
.hero_component_title{
	padding: 0;
	z-index: 3;
	text-align: center;
}
.image_hero{
  visibility: hidden;
}
.body{
	width: 630px;
	color: #57676f;
	margin-top: 50px;
	font-size: 24px;
  line-height: 1.5;
}
@media(max-width: 1550px) {
  .text{
    margin-left: 5%;
    margin-top: 100px;
  }
}
@media(max-width: 1455px) {
	.text{
    margin-left: 2%;
    margin-top: 70px;
  }
}
@media(max-width: 1405px) {
	.text{
    margin-left: 2%;
    margin-top: 30px;
    width: 500px;
  }
}
@media(max-width: 1350px) {
	header{
		width: 100%;
		height: 180px;
	}
  .hero_component{
    width: 100%;
    height: 100%;
  }
  .text{
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
  .hero_component_title{
    margin-top: 10px;
		width: 100%;
	}
  .background{
    background-image: none;
  }
  .image_hero{
    visibility: visible;
    width: 100%;
    height: 750px;;
    background-image: url(../images/background1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
  }
  .body {
    display: table;
    margin-left: 0;
    margin-bottom: 1px;
    background-color: #5d5096;
    font-size: 22px;
		color: white;
    width: 100%;
    float: none;
    }
  .body p{
    width: 100%;
    padding-left: 2%;
  }
}
/*-----------info component---------------------------------*/
.info_component{
  font-family: Helvetica Neue;
  background: #f8f8f8;
  color: #5d5096;
  display: table;
  height: 524px;
  width: 100%;
}
.left_position{
  float: left;
  width: 45%;
  display: table;
  height: 100%;
}
.left_position img{
  width: 100%;
  height: 100%;
}
.right_position{
  display: table;
  padding: 45px 50px;
  float: right;
  width: 55%;
}
.info_component_title{
  width: 100%;
  text-align: left;
}
.info_component_title h1{
  font-weight: 700;
  font-size: 45px;
  width: 90%;
}
.body_info{
  font-weight: 500;
  padding-top: 60px;
  line-height: 1.7;
  padding-left: 6.63%;
  padding-right: 5%;
  color: #57676f;
}
@media(max-width: 1000px){
  .right_position{
    float: none;
    width: 100%;
    height: 300px;
  }
  .left_position{
    float: none;
    width: 100%;
    height: 300px;
  }
}
/*------------------Services component-----------------------*/
.services_component{
  padding-top: 70px;
  display: table;
  font-family: Helvetica Neue;
  width: 100%;
  height: 712px;
}
.services_component_title{
  color: #5d5096;
  width: 100%;
  text-align: center;
}
.services_component_title h1{
  font-family: Helvetica Neue;
  font-weight: bold;
}
.call{
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 42px;
}
.services_text{
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 18px;
  margin-top: 60px;
  width: 100%;
  color: #57676f;
  text-align: center;
  font-weight: 500;
  line-height: 1.7
}
.services_body{
  font-family: Helvetica Neue;
  color: #5d5096;
  display: table;
  padding-top: 60px;
  width: 100%;
  color: #57676f;
}
.services_component h2{
  color: #5d5096;
  text-align: center;
}
.list{
  display: table;
  font-family: Helvetica Neue;
  font-weight: 300;
  color: #5d5096;
  line-height: 2;
  font-size: 22px;
  height: auto;
  list-style-image: url(../images/bullet.png);
  width: 100%;
  box-sizing: border-box;
  padding-left: 15%;
  text-align: left;
}

.left{
  font-size: 28px;
  float: left;
  width: 33.33%;
}
.center{
  font-size: 28px;
  float: left;
  width: 33.33%;
}
.right{
  font-size: 28px;
  float: left;
  width: 33.33%;
}
@media(max-width: 1000px){
  .list{
    width: 100%;
    text-align: left;
  }
  .left{
  font-size: 28px;
  float: none;
  width: 100%;
  }
  .center{
    font-size: 28px;
    float: none;
    width: 100%;
  }
  .right{
    font-size: 28px;
    float: none;
    width: 100%;
  }
}
/*--------------------------map component------------------*/
.map_component{
  width: 100%;
}
.map_component_title{
  width: 100%;
  display: table;
  background: #f8f8f8;
  height: 140px;
  border-color: #dfdfdf;
}
.map_title{
  font-family: Helvetica Neue;
  font-weight: bold;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: #5d5096;
}
.search_bar{
  width: 100%;
  height: 80px;
  background: #5d5096;
  text-align: center;
  display: block;
  padding-top: 3%;
}
i{
  color: white;
}
input{
  margin-left: 25px;
  width: 25%;
  height: 40%;
  background: #5d5096;
  font-family: Helvetica Neue;
  color: white;
  font-size: 30px;
  border: 0;
  box-shadow: 0;
  outline: none;
}
input::-webkit-input-placeholder {
  background: #5d5096;
  color: white;
  font-family: Helvetica Neue;
  font-size: 30px;
}
input:-moz-placeholder {
  background: #5d5096;
  color: white;
  font-family: Helvetica Neue;
  font-size: 30px; 
}
input:-ms-input-placeholder { 
  background: #5d5096;
  color: white;
  font-family: Helvetica Neue;
  font-size: 30px; 
}
.content_map{
  display: table;
  width: 100%;
}
.results{
  width: 33.33%;
  font-family: Helvetica Neue;
  color: #57676f;
  float: left;
}
.results h2{
  margin-left: 15%;
}
.results p{
  margin-left: 15%;
  font-size: 20px;
}

.results li{
  width: 50px;
  height: 100%;
  list-style: none;
  display: inline;
}
.result{
  display: table;
}
.one{
  background-image: url(../images/1.png);
  float: left;
  width: 36px;
  height: 36px;
}
.one-right{
  float: right;
  padding: 0;
}
.two{
  background-image: url(../images/2.png);
  float: left;
  width: 36px;
  height: 36px;
}
.two-right{
  float: right;
  padding: 0;
}
.three{
  background-image: url(../images/3.png);
  float: left;
  width: 36px;
  height: 36px;
}
.three-right{
  float: right;
  padding: 0;
}
/*.gmaps{
  width: 66.66%;
  float: right;
  height: 100%;
  display: table;
}*/
iframe{
  float: right;
  width: 66.66%;
  height: 100%;
}
.nav-style{
  background-color: #dfdfdf;
  height: 2px;
  border: none;
  margin: 0;
  width: 100%;
}
@media(max-width:1000px){
  .results{
    float: none;
    width: 100%;
  }
  .gmaps{
    float: none;
    width: 100%;
  }
  .result{
    width: 100%;
  }
}

/*---------------------------footer------------------------*/
footer{
  width: 100%;
  height: 80px;
  background: #f8f8f8;
}
.footer_text{
  padding-top: 32px;
  font-family: Helvetica Neue;
  font-size: 19px;
  color: #57676f;
  text-align: center;
}