@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue/HelveticaNeue.eot');
	src: url('fonts/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue/HelveticaNeue.woff2') format('woff2'),
		url('fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
		url('fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype'),
		url('fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue/HelveticaNeue-Medium.eot');
	src: url('fonts/HelveticaNeue/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue/HelveticaNeue-Medium.woff2') format('woff2'),
		url('fonts/HelveticaNeue/HelveticaNeue-Medium.woff') format('woff'),
		url('fonts/HelveticaNeue/HelveticaNeue-Medium.ttf') format('truetype'),
		url('fonts/HelveticaNeue/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/HelveticaNeue/HelveticaNeue-Bold.eot');
	src: url('fonts/HelveticaNeue/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeue/HelveticaNeue-Bold.woff2') format('woff2'),
		url('fonts/HelveticaNeue/HelveticaNeue-Bold.woff') format('woff'),
		url('fonts/HelveticaNeue/HelveticaNeue-Bold.ttf') format('truetype'),
		url('fonts/HelveticaNeue/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
body{
  font-family: Helvetica Neue;
  padding: 0;
  margin: 0;
}
header{
	background-color: #5d5096;
	width: 100%;
	height: 175px;
  display: table;
  padding-left: 100px;
}
/*.header_title{
  display: table;
	color: white;
	text-align: left;
	font-family: roboto;
	width: 250px;
	padding-top: 30px;
}
.header_title h1{
  margin: 0;
	font-weight: 200;
	font-size: 42px;
}
.header_title h3{
  margin: 0;
	font-weight: 100;
}*/
h1{
  margin: 0;
	font-weight: 200;
	font-size: 42px;
}
.logo{
  padding-top: 30px;
  /*width="180px"; 
  height="120px";*/
}
/*-----------Hero component---------------------------------*/
.hero_component{
	font-family: Helvetica Neue;
	color: #5d5096;
	float: left;
  width: 100%;
  height:740px;
}
.text{
  display: table;
  margin-top: 152px;
  margin-left: 6%;
	width: 700px;
}
.hero_component_title h1{
  font-size: 68px;
	text-align: center;
}
.bold{
  font-weight: bold;
}
.background{
  background-image: url(../images/background.png);
  background-position: right;
  background-repeat: no-repeat;
}
.hero_component_title{
	padding: 0;
	z-index: 3;
	text-align: center;
}
.body{
	width: 100%;
	color: #57676f;
	margin-top: 63px;
	font-size: 26px;
  line-height: 1.5;
}
@media(max-width: 1550px) {
	.hero_component_title{
    margin-left: 5%; 
  }
  .body{
    margin-left: 5%; 
    font-size: 18px;
  }
}
@media(max-width: 1390px) {
	.hero_component_title{
    margin-left: 2%; 
  }
  .body{
    margin-left: 2%; 
    font-size: 16px;
  }
}
@media(max-width: 1350px) {
	header{
		width: 100%;
		height: 180px;
	}
  .hero_component{
    
  }
  .hero_component_title{
    margin-top: 10px;
    clear: left;
		width: 496px;
		height: 178px;
	}
  .body {
    display: table;
    margin-left: 0;
    margin-bottom: 1px;
    background-color: #5d5096;
    font-size: 22px;
		color: white;
    width: 100%;
    float: none;
    }
  .body p{
    margin-top: 63px;
    margin-bottom: 60px;
  }
}
/*-----------info component---------------------------------*/
.info_component{
  font-family: Helvetica Neue;
  background: #f8f8f8;
  color: #5d5096;
  display: table;
  height: 524px;
  width: 100%;
}
.left_position{
  float: left;
  width: 35.67%;
  display: table;
}
.right_position{
  display: table;
  padding-top: 45px;
  float: right;
  width: 54.33%;
}
.info_component_title{
  width: 100%;
  text-align: center;
}
.body_info{
  font-weight: 500;
  padding-top: 60px;
  line-height: 1.7;
  padding-left: 6.63%;
  padding-right: 1%;
  color: #57676f;
}
@media(max-width: 1350px){
  .right_position{
    float: none;
    width: 100%;
    height: 300px;
  }
  .left_position{
    float: none;
    width: 100%;
    height: 300px;
  }
}
/*------------------Services component-----------------------*/
.services_component{
  padding-top: 70px;
  display: table;
  font-family: Helvetica Neue;
  width: 100%;
  height: 712px;
}
.services_component_title{
  color: #5d5096;
  width: 100%;
  text-align: center;
}
.services_component_title h1{
  font-family: Helvetica Neue;
  font-weight: bold;
}
.call{
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 42px;
}
.services_text{
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 18px;
  margin-top: 60px;
  width: 100%;
  color: #57676f;
  text-align: center;
  font-weight: 500;
  line-height: 1.7
}
.services_body{
  font-family: Helvetica Neue;
  
  color: #5d5096;
  display: table;
  padding-top: 60px;
  width: 100%;
  color: #57676f;
}
.services_component h2{
  color: #5d5096;
  text-align: center;
}
.list{
  display: table;
  font-family: Helvetica Neue;
  font-weight: 300;
  color: #5d5096;
  line-height: 1.6;
  font-size: 22px;
  width: 100%;
  height: 210px;
  padding-left: 15%;
  list-style-image: url(../images/bullet.png);
}

.left{
  font-size: 28px;
  float: left;
  width: 33.33%;
}
.center{
  font-size: 28px;
  float: left;
  width: 33.33%;
}
.right{
  font-size: 28px;
  float: left;
  width: 33.33%;
}
/*--------------------------map component------------------*/
.map_component{
  width: 100%;
}
.map_component_title{
  width: 100%;
  display: table;
  background: #f8f8f8;
  height: 140px;
  border-color: #dfdfdf;
}
.map_title{
  font-family: Helvetica Neue;
  font-weight: bold;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: #5d5096;
}
.search_bar{
  width: 100%;
  height: 80px;
  background: #5d5096;
  text-align: center;
  display: block;
  padding-top: 3%;
}
i{
  color: white;
}
input{
  margin-left: 25px;
  width: 25%;
  height: 40%;
  background: #5d5096;
  font-family: Helvetica Neue;
  color: white;
  font-size: 30px;
  border: 0;
  box-shadow: 0;
  outline: none;
}
input::-webkit-input-placeholder {
  background: #5d5096;
  color: white;
  font-family: Helvetica Neue;
  font-size: 30px;
}
input:-moz-placeholder {
  background: #5d5096;
  color: white;
  font-family: Helvetica Neue;
  font-size: 30px; 
}
input:-ms-input-placeholder { 
  background: #5d5096;
  color: white;
  font-family: Helvetica Neue;
  font-size: 30px; 
}
/*---------------------------footer------------------------*/
footer{
  width: 100%;
  height: 80px;
  background: #f8f8f8;
}
.footer_text{
  padding-top: 32px;
  font-family: Helvetica Neue;
  font-size: 20px;
  color: #57676f;
  text-align: center;
  
}